/* #region Header (bannière) */

#ipserveur, #serveurname{
    font-family: Glitch;
    text-align: center;
    margin-bottom: 8vh;
    
}

/* Bannière 75:15 */

header#banner {
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 8vh;
    height: 15vw;
}
/* #endregion */

#news {
    text-align: center;
    font-family: Titres;
}


#newsgrid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". ."; 
}

#newsgrid>section {
    border: 1px solid #5f5f5f;
}

#newsgrid>section>*{
    margin-left: 10px;
    margin-right: 10px;
}
#newsgrid>section:hover{
    background-color: black;
}